// main
$main_color: #0282f9;
$main_bg_text_color: #ffffff;

//navbar
$nav_color: #464646;
$nav_spacing: 20px;

//fonts
$title_color:#003f5e;
$title_font_family:"Open Sans Condensed", sans-serif;
$text_color: #555555;
$text_font_family:"Open Sans", sans-serif;
$secondary_text_color: #9f9f9f;
$text_link_color: #00a9d9;
$text_link_color_hover: #77daf5;

//colored sections 
$dark_section_bg_color: #1c1c1c;
$dark_section_text_color: #ffffff;
$light_section_bg_color: #f6f6f6;
$light_section_text_color: $title_color;

//footer
$footer_bg_color: #303030;
$footer_title_color: #ffffff;
$footer_text_color:#959595;
